h1{
    color: rgb(255, 0, 0);
     font-size: 20px;
}

img{
    width: 480px;
}

#thirdDiv {
   
    height: 600;
    width: 500;
    background-color: thistle;
    padding: 50px;
    border: yellow solid;
}

#spanId{
    font-size: 18px;
    margin: 50px;
}